.home {
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: #3e497a;
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f0f0f0;
  background-color: #0c2461;
}
#blue.about{
  background-color: #0c2461;
 }   
 #black.about {
  background-color: black;
 } 

.about h2 {
  font-size: 60px;
  color: #e9d35b;
  height: 50px;
  font-family: 'Silkscreen', cursive;
 
}

.about .prompt {
  width: 40%;
  font-size: 24px;
  font-family: 'Questrial', sans-serif;
}
.prompt svg {
  font-size: 30px;
  margin: 5px;
  color: white;
}

.skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
}

.skills h1 {
  color: #e9d35b;
  font-family: 'Silkscreen', cursive;
}

.skills .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 20px;
  font-family: 'Space Grotesk', sans-serif;

}
.skills h2 {

  font-family: 'Silkscreen', cursive;
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
    font-family: 'Silkscreen', cursive;
  }
}